<div class="form-group">
  <label for="title">Book Title</label>
  <input name="title"
         class="form-control"
         #title>
  <label for="author">Author</label>
  <input name="author"
         class="form-control"
         #author>
  <select name="format" #format>
    <option value=""></option>
    <option value="Hardcover">Hardcover</option>
    <option value="Paperback">Paperback</option>
    <option value="E-Book">E-Book</option>
  </select>
  <input type="button"
         (click)="add(title, author, format)"
         class="btn btn-primary"
         value="Add">
</div>
